<!DOCTYPE html>
<html>
<head>
    <title>Reservation</title>
</head>
<body>
    <h1>Create a Reservation:</h1>
    <form method="POST">
        <label for="CusName">Full Name (First Name and Last Name):</label>
        <input type="text" id="CusName" name="CusName" required><br><br>
        <label for="CusDate">Dining Date:</label>
        <input type="date" id="CusDate" name="CusDate" required><br><br>
        <label for="CusTime">Dining Time:</label>
        <input type="time" id="CusTime" name="CusTime" required><br><br>
        <label for="CusParty">Size of Party:</label>
        <input type="number" id="CusParty" name="CusParty" required><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
